page-notification {
    .notificationContent{
        background: #e2e2e2;
}
.cardActive{
    @include global-gradient-secondary(45deg);
}
.footerActive{
    background: $white !important;
}
.notif-items{
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.02), 0 6px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 0.7em;
    .menu-bottom{
        // background: rgba(255, 85, 67, 0.10196078431372549);
    }
    &:before{
        content: '';
        position: absolute;
        width: 58px;
        height: 42px;
        border-radius: 50%;
        background: #e2e2e2;
        top: -28px;
        margin: auto;
        left: 41%;
    }
   
    label{
        color:#444;
        font-weight: 500;
        margin-right:1em;
    }
    span{
        color:#6a6969;
        font-size: 0.9em;

    }
}

.menu-bottom
{
    text-align: center;
   
      
    }
    .msg-box{
        
        ion-icon{
            color: #fe2d66;
      
        }
        }
        .button-small-md {
            height: 2.1em;
            font-size: 1.3rem;
            padding: 0 0.5em;
        }
        .footer-row{
           background: linear-gradient(45deg, rgba(16, 206, 243, 0.13), rgba(26, 241, 201, 0.26));
        //    background: rgba(16, 206, 243, 0.0784314);
        }
        .footer-row-two-btn{
            background: linear-gradient(90deg, rgba(254, 45, 102, 0.25098039215686274), rgba(255, 93, 60, 0.29)) !important;
        }

}

