page-offline-refresh-form {
    .add-entry-container{
        ion-label{
            white-space: normal;
        }
    }
    .Dispenser-Entry-container-dropdown {
        height: 30px;
        margin-top: 11px;
        width: 100%;
      }
    }
    