@import 'mixinBlock';
/*##########App header##########*/
ion-header{
   
}
.header-md{
    box-shadow:0 10px 20px rgba(125, 125, 125, 0.25), 0 6px 6px rgba(115, 115, 115, 0.15);
}
.toolbar-background {
    @include global-gradient-primary(90deg);
    border-color: transparent;
  
}

.header::after,
.tabs[tabsPlacement="top"]>.tabbar::after,
.footer::before,
.tabs[tabsPlacement="bottom"]>.tabbar::before {
    background-image: none;
}

.toolbar {
    -webkit-box-align: start;
    -webkit-align-items: start;
    align-items: start;
}

.toolbar {
    padding: 0px 4px;
    min-height: 40px;
}

// .toolbar-title-ios{
//     margin-top: 1.7rem;
// }
.toolbar-title-md{
    padding:8px 12px !important;
}
.toolbar-title{
    margin-top: 0rem;
}
.toolbar-title{
    color: $text-white;
    // margin-top: 0.7rem;
    text-align: center;
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
  
}
.cust-back-menu{
    font-size: 1.2rem;
}
/*##########App header##########*/


/*##########App Footer##########*/
ion-footer {
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08);
    text-align: center;
    background: #989898;
    p {
        color: $text-white;
        margin: 0.5rem;
    }
}
/*##########App Footer##########*/
@include respond-to(tablet-screens){
   
 }