@import 'variables';
.mandatory {
    color: red !important;
}

.white {
    background: #fff;
}

.light-grey {
    background: rgba(177, 177, 177, 0.35);
}

.text-orange {
    color: #ff5940;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #fff !important;
}

.text-black {
    color: #000 !important;
}

.text-grey-dark {
    color: #777 !important;
}

.text-grey-light {
    color: #b1b1b1 !important;
}

.p-0 {
    padding: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.d-inline-block {
    display: inline-block;
}

.transparent {
    background: transparent !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}