// Global Variables ----------->>>
$white:#fff;
$pink-color:#FE2D66;
$secondary-color:#ff5543;
$blue-color:#10cef3;
$green-color:#1af1c9;
$light-grey:#f4f4f4;
$ternary-color:#c6c6c6;
$wraper-width:90%;
$text-white:#fff;
$text-grey-light:#b1b1b1;
$text-grey-dark:#666;
$bg-white:#fff;
$global-gradient:linear-gradient(to right, #FE2D66, #FF5D3C);
$break-small: 320px;
$break-medium: 400px;
$break-large: 500px;
$break-tablet-small: 600px;
$break-tablet-large: 992px;
$bg-size-100:100% 100%;
$bg-size-cover:cover;
$z-black:#212121;