<!--
  Generated template for the ErpApprovalListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-buttons left>

      <button class="back-button-custom" (click)="back()" ion-button icon-only large>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{tnature_name}}</ion-title>
    <ion-buttons right>

      <button class="back-button-custom" (click)="showHide==true?showHide=false : showHide=true" ion-button icon-only large>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<div class="search-wrapper"  [hidden]="listLength==0 || showHide==false" >
  <div class="search-main" >
 
      <div class="page-search-sec">
        <div class="row  text-center">
          <div class="col pr-0" col-10 col-sm-11>
            <div class="list">
              <div class="item item-input-inset">
                <label class="item-input-wrapper">
                  <input class="w-100" type="text" placeholder="Search..." [(ngModel)]="searchText"  >
                </label>
  
              </div>
            </div>
          </div>
          <div class="col pl-0" col-2 col-sm-1>
            <!-- <button class="button search-section-btn" (click)="scrollData('showLoder','',searchText,'refresh')">
              <ion-icon name="search"></ion-icon>
            </button> -->
            <button class="button search-section-btn close-search-btn" (click)="showHide=false;searchText='';ionViewDidLoad()">
              <ion-icon name="md-close"></ion-icon>
            </button>
          </div>
        </div>
      </div>
  
  </div>
</div>

<ion-content class="card-wrapper">
  <div class="search-gap" [hidden]="listLength==0 || showHide==false" ></div>

<ng-container *ngIf="listLength==0">
  <p  class="NoRecordWarning" >No More Approvals</p>
</ng-container>


  <!-- <ion-searchbar class="order-search" [(ngModel)]="searchText" [hidden]="listLength==0 || showHide==false"></ion-searchbar> -->
<!-- <div class="searchbar-gap" [hidden]="listLength==0 || showHide==false"></div> -->
  <!-- <ion-input type="text" placeholder="Search" [(ngModel)]="searchText" class="text-grey-dark"></ion-input> -->
  <ion-card class="card-sec" *ngFor="let item of listOfErpAppr| searchDataFilter: 'vrno' : searchText" (click)="getErpApprDetails(item)" >
    <ion-row class="item-nm">
      <ion-col col-12>
        <label>
        <span class="entity-sec">{{item.entityCode}}</span>  <span class="vrno-sec">{{item.vrno}} </span>{{item.accName}}</label>
      </ion-col>
      <ion-col col-12>
        <label> {{item.refNo}} </label>
      </ion-col>
    </ion-row>
    <ion-row class="other-item">
      <ion-col col-12>{{item.bHeadings}} </ion-col>
      <ion-col col-12>(Date : {{item.vrDate}})</ion-col>
    </ion-row>
  </ion-card>

  <ion-fab class="fabButton" (click)="ionViewDidLoad()">
    <button ion-fab ion-fab mini class="add-fab-btn"> <ion-icon name="refresh"></ion-icon></button>

  </ion-fab>
</ion-content>