page-add-update-order {
    .calendar-icon {
        color: #10cef3;
        float: right;
        font-size: 2rem;
    }
    .notif-items {
        box-shadow: 0px 0px 10px #ccc;
        margin-bottom: 0.7em;
        border-bottom: 3px solid #14dce1;
        padding: 10px !important;
        .item-inner {
             border-bottom: none !important; 
        }
    }
    .searchbutton{
        background: linear-gradient(90deg, #10cef3, #1af1c9) !important;
        width: 24px;
    }
    label {
        color: $text-grey-dark;
        margin-right: 1em;
        font-weight:500;
        @include respond-to(small-screens) {
            font-size: 0.8em;
        }
    }
    span {
        font-size: 0.9em;
        @include respond-to(small-screens) {
            font-size: 0.8em;
        }
    }
    .order-close-icon{
        @include global-gradient-primary(45deg);
        position: absolute;
        top: 0;
        right: 0;
        margin: 0 !important;
        height: 2.2rem;
        width: 2.2rem;
        font-size: 1.2rem;
    }
    .with-btn-control {
        border:none !important;
        .item-inner{
            border:none !important;
        }
    }
    .list-md .item-input:last-child {
        border-bottom: none;
    }
    .search-blue-icon{
        font-size: 2.2em;
    }
    .Career-details{
        max-height: 200px;overflow:auto;margin-top:1rem;
        border-bottom: 1px solid #dedede;
    }
}





