.popover-md 
{
    .popover-content{
        width: 80% !important;
        left: 10% !important;
        top: 20% !important;
        // height: 270px;
        overflow-y: hidden;
    }
    .popover-viewport{
        height: 100%;
    }
}
.popover-ios 
{
    .popover-content{
        width: 80% !important;
        left: 10% !important;
        top: 20% !important;
        // height: 270px;
        overflow-y: hidden;
        box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.3);
    }
    .popover-viewport{
        height: 100%;
    }
}

page-text-area-popover {

.edit-popoever{
    margin-top: 2%;

    textarea{
        font-size: 1.5rem;
        // height: 3.8rem;
        height: 10.8rem;
    }
}


.toolbar{
    min-height: 36px !important;
    line-height: 1.5;
}

.toolbar-title{
    font-size: 1.8rem;
}


}

