<ion-header>

    <ion-navbar>
        <ion-title>{{table_desc}}</ion-title>
    </ion-navbar>
    <button *ngIf="flagForEntryListButton=='V#'" class="button" (click)="entryList()"></button>
</ion-header>
<ion-content padding>
    <div class="order-tbl-wrapper" [hidden]="rowsOfPopulateData.length==0">
        <table class="populatedEntryFormTable">
            <thead >
                <tr>
                    <th *ngFor="let data of fieldsTH">{{data}}</th>

                    <tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of rowsOfPopulateData">
                    <ng-container *ngFor="let item of list ">
                        <td *ngIf="item.entry_by_user=='T' || item.entry_by_user=='R'" [ngStyle]="{'width.%': item.data_type  }">
                            <div [ngSwitch]="item.item_help_property">

                                <ion-item *ngSwitchCase="'L'" [hidden]="item.entry_by_user=='F'">
                                    <ion-input placeholder="{{item.tool_tip}}" [(ngModel)]="item.value" clearInput (ngModelChange)="dependent_nullable_logic(item.value,item.column_name,item.dependent_column_name)"
                                        id="{{item.column_name}}" placeholder="{{item.tool_tip}}" (click)="openLov(item.column_desc,item.column_name,item.dependent_row,item.dependent_row_logic, item.item_help_property)"
                                        [readonly]="isReadonly" [required]="item.nullable=='F'" ></ion-input>
                                       
                                </ion-item>
                                <div *ngSwitchCase="'T'" [hidden]="item.entry_by_user=='F'">
                                    <ion-input placeholder="{{item.tool_tip}}" id="{{item.column_name}}" [(ngModel)]="item.value" maxlength="{{item.column_size}}"
                                       [required]="item.nullable=='F'" (blur)="dependent_nullable_logic(item.value,item.column_name,item.dependent_column_name)"
                                         *ngIf="item.entry_by_user!= 'R'" ></ion-input>
                                        <ion-label style="white-space: normal !important;" *ngIf="item.entry_by_user== 'R'">{{item.value}}</ion-label>
                                </div>

                                <div *ngSwitchCase="'A'" [hidden]="item.entry_by_user=='F'">
                                    <button ion-button icon-only item-end icon-left (click)="textAreaPopOver($event,item.column_name,item.value,item.column_desc,item.value)">
                                        <ion-icon name="create"></ion-icon>
                                    </button>
                                    <ion-textarea placeholder="{{item.tool_tip}}" [(ngModel)]="item.value" [required]="item.nullable=='F'" #textAreaName="ngModel"></ion-textarea>

                                    <div *ngIf="textAreaName.hasError('required') && textAreaName.touched">Please Enter {{item.column_desc}}</div>
                                    <div *ngIf="textAreaName.hasError('maxlength')">{{item.column_desc}} max {{item.column_size}} Character</div>
                                    <div *ngIf="textAreaName.hasError('minlength')">{{item.column_desc}} min 3 Character</div>
                                </div>

                                <ion-item *ngSwitchCase="'C'" [hidden]="item.entry_by_user=='F'">

                                    <ion-datetime displayFormat="DD-MM-YYYY" min="{{item.from_value}}" max="{{item.to_value}}" placeholder="{{item.tool_tip}}"
                                        [(ngModel)]="item.value" #calenderName="ngModel"></ion-datetime>
                                    <ion-label *ngIf="calenderName.hasError('required') && calenderName.touched">Please Enter {{item.column_desc}}</ion-label>
                                </ion-item>

                                <ion-item *ngSwitchCase="'DT'" [hidden]="item.entry_by_user=='F'">
                                    <ion-datetime displayFormat="DD-MM-YYYY h:mm:s" min="{{item.from_value}}" max="{{item.to_value}}" placeholder="{{item.tool_tip}}"
                                        [(ngModel)]="item.value" #dateTimeName="ngModel"></ion-datetime>
                                    <ion-label *ngIf="dateTimeName.hasError('required') && dateTimeName.touched">Please Enter {{item.column_desc}}</ion-label>
                                </ion-item>
                                <div *ngSwitchCase="'N'" [hidden]="item.entry_by_user=='F'">
                                    <div *ngIf="item.decimal_digit>0">
                                        <ion-input name="{{item.column_name}}" type="number" pattern="{{item.pattern}}" placeholder="{{item.tool_tip}}" [(ngModel)]="item.value"
                                            (ngModelChange)="autoCalculation(item.column_name)" maxlength="{{item.column_size}}"
                                            [min]="item.from_value" [max]="item.to_value" [readonly]="item.entry_by_user=='R' "
                                            [required]="item.nullable=='F' " #numberFieldname="ngModel"></ion-input>

                                        <div class="error" *ngIf="numberFieldname.hasError('pattern')">Invalid Number or Invalid Decimal Place</div>
                                        <div class="error" *ngIf="numberFieldname.hasError('maxlength')"> {{item.column_desc}} max {{item.column_size}} digit</div>
                                        <div class="error" *ngIf="numberFieldname.hasError('min')"> {{item.column_desc}} min {{item.column_size}} digit</div>
                                        <div class="error" *ngIf="numberFieldname.hasError('max')"> {{item.column_desc}} should not be above {{item.to_value}}</div>
                                        <div class="error" *ngIf="numberFieldname.hasError('required') && numberFieldname.touched"> Please Enter {{item.column_desc}}</div>
                                    </div>
                                    <div *ngIf="item.decimal_digit==0">
                                        <ion-input name="{{item.column_name}}" type="number" onkeypress="return event.charCode != 46" placeholder="{{item.tool_tip}}"
                                            [(ngModel)]="item.value" (ngModelChange)="autoCalculation(item.column_name)" maxlength="{{item.column_size}}"
                                            [min]="item.from_value" [max]="item.to_value" [readonly]="item.entry_by_user=='R' "
                                            [required]="item.nullable=='F' " #numberFieldname="ngModel"></ion-input>

                                        <div class="error" *ngIf="numberFieldname.hasError('pattern')">Invalid Number or Invalid Decimal Place</div>
                                        <div class="error" *ngIf="numberFieldname.hasError('maxlength')"> {{item.column_desc}} max {{item.column_size}} digit</div>
                                        <div class="error" *ngIf="numberFieldname.hasError('min')"> {{item.column_desc}} min {{item.column_size}} digit</div>
                                        <div class="error" *ngIf="numberFieldname.hasError('max')"> {{item.column_desc}} should not be above {{item.to_value}}</div>
                                        <div class="error" *ngIf="numberFieldname.hasError('required') && numberFieldname.touched"> Please Enter {{item.column_desc}}</div>
                                    </div>
                                </div>

                                <div *ngSwitchCase="'E'" [hidden]="item.entry_by_user=='F'">
                                    <ion-input type="email" pattern="^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$"
                                        placeholder="{{item.tool_tip}}" [required]="item.nullable=='F'" [(ngModel)]="item.value" readonly="item.entry_by_user=='R' "
                                        maxlength="{{item.to_value}}" minlength="{{item.from_value}}" #emailFieldname="ngModel"
                                        (blur)="dependent_nullable_logic(item.value,item.column_name,item.dependent_column_name)"></ion-input>

                                    <div *ngIf="emailFieldname.hasError('pattern')"> Provide valid email ID</div>
                                    <div *ngIf="emailFieldname.hasError('minlength')"> {{item.column_desc}} min {{item.column_size}} character</div>
                                    <div *ngIf="emailFieldname.hasError('maxlength')"> {{item.column_desc}} max {{item.column_size}} character</div>
                                    <div *ngIf="emailFieldname.hasError('required') && emailFieldname.touched"> Please Enter {{item.column_desc}}</div>
                                </div>

                                <ion-item *ngSwitchCase="'H'" [hidden]="item.entry_by_user=='F'">
                                    <ion-select [(ngModel)]="item.value" [required]="item.nullable=='F' ">
                                        <ion-option *ngFor="let option of item.dropdownVal;" value="{{option.code}}">{{option.name}}</ion-option>

                                    </ion-select>
                                </ion-item>

                                <ion-item *ngSwitchCase="'D'" [hidden]="item.entry_by_user=='F'">
                                    <ion-select [(ngModel)]="item.value">
                                        <ion-option *ngFor="let option of item.dropdownVal" value="{{option}}">{{option}}</ion-option>
                                    </ion-select>
                                </ion-item>
                                <ion-item *ngSwitchCase="'MD'" [hidden]="item.entry_by_user=='F'">
                                    <ion-select [(ngModel)]="item.value" multiple="true">
                                        <ion-option *ngFor="let option of item.dropdownVal;" value="{{option.code}}">{{option.name}}</ion-option>
                                    </ion-select>
                                </ion-item>
                            </div>

                        </td>
                    </ng-container>

                </tr>

            </tbody>
        </table>
    </div>
    <div class="order-tbl-wrapper" *ngIf="rowsOfPopulateData.length==0">
        <ion-row class="row" >
            <ion-col col-12 >
                <ion-row class="emptyDivPopulated">
                    <ion-col col-12>
                        <label style="color: #adab55;">Data Not Available</label>
                    </ion-col>
                </ion-row>

            </ion-col>


        </ion-row>
    </div>
    <ion-grid [hidden]="rowsOfPopulateData.length==0">
        <ion-row class="btn-outer">
            <ion-col col-4>
                <button ion-button class="cancel-btn" (click)="cancelEntry()" round>Cancel</button>
            </ion-col>
            <ion-col col-4>
                <button ion-button class="save-btn" round (click)="addOrder(rowsOfPopulateData)">Save</button>
            </ion-col>
            <ion-col col-4 *ngIf="orderPopulatedFlag=='PO'">
                <button ion-button class="global-btn" round (click)="addPopulatedOrder(rowsOfPopulateData)">Order</button>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>