page-erp-approval-item-deatils {
    ion-app.md [padding] {
        padding: 0 16px;
    }
    .card-sec{
        text-align: left;
        color:  $text-grey-dark;
        font-size: 1.4rem;
        // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.04), 0 10px 10px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 0px 10px #615f5f;
        margin: 0rem 1rem;
        margin-bottom: 1rem;
        padding: 3px;
       
         
        &:nth-child(even) {
          background: $text-white;
          border-left: 4px solid  $blue-color;
      }
      &:nth-child(odd) {
          background: $text-white;
          border-left: 4px solid  $green-color; 
      }
        .col{
      padding:5px 5px 0px 5px !important;
        }
      .due-dt{
        color: #e13838 !important;
      }
      
      .item-nm {
        label{
          // color: #424242;
          font-size: 1.5rem;
        }
  
        
        .form-value{
          color: rgb(25, 25, 25);
          font-weight: 500;
      }
      }
     
      .other-item div{
        font-size: 1.3rem;
        color: $text-grey-dark;
      }
       
      }
      .item-row{
        border-bottom: 1px solid rgba(204, 204, 204, 0.72);
        padding-bottom: 0.5rem;
       }

       .NoRecordWarning{
        color: #B9A247; font-size:17px; text-align:center; 
        padding: 10px;
       }
      
}
